@import 'tailwindcss';

:root {
  --color-primary: 231 0 11;     /* red-600 */
  --color-primary-dark: 245, 245, 245;
  /*  --color-surface: 255 255 255;
  --color-bg: 254 242 242; */
}


body {
  margin: 0;
  background-color: oklch(97.1% 0.013 17.38);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}

body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
